.categoryCardContainer {
	flex-grow: calc(1 / 3);
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 32px;
	background-color: var(--light0);
	border: solid 1px var(--light0);
	border-radius: 8px;
	box-shadow: 2px 4px 8px #0004;
}

.categoryProdsNumBlock {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	color: var(--light50);
}
