.checkboxBlock {
	height: 24px;
}

.realCheckbox {
	appearance: none;
	position: absolute;
}

.styledCheckbox {
	display: inline-flex;
	position: relative;
	width: 24px;
	height: 24px;
	background-color: var(--light50);
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
}

.realCheckbox:focus-visible + .styledCheckbox {
	outline: dashed 1px var(--light100);
	outline-offset: 1px;
}

.realCheckbox:checked + .styledCheckbox {
	background-color: var(--accent75);
}

.styledCheckbox::after {
	position: absolute;
	width: 50%;
	height: 30%;
	left: 25%;
	top: 30%;
	border: solid 3px var(--light100);
	border-top: none;
	border-right: none;
	rotate: -45deg;
}

.realCheckbox:checked + .styledCheckbox::after {
	content: '';
}

.realCheckbox:not(:checked) + .styledCheckbox:hover::after {
	content: '';
	border: solid 3px var(--accent75);
	border-top: none;
	border-right: none;
	opacity: 0.25;
}
