.container {
	position: relative;
	display: flex;
	align-items: center;
	padding: 16px;
	min-width: 260px;
	border-radius: 16px;
	background-color: var(--light0);

	&:focus-visible {
		outline: dashed 2px var(--light100);
		outline-offset: 2px;
	}
}

.selectLabel {
	position: absolute;
	top: 0;
	left: 0;
	translate: 0 calc(-100% - 4px);
	font-weight: 600;
}

.value {
	flex-grow: 1;
	cursor: default;

	&.disabled {
		color: var(--light25);
	}
}

.caret {
	translate: 0 25%;
	border: solid 5px transparent;
	border-top-color: var(--light50);
	transition: 0.2s;

	&.flipped {
		translate: 0 -25%;
		rotate: 180deg;
	}
}

.options {
	position: absolute;
	top: calc(100% + 4px);
	margin: 0;
	padding: 8px 0;
	list-style: none;
	display: none;
	max-height: 160px;
	background-color: var(--light0);
	border: solid 2px var(--light0);
	border-radius: 16px;
	width: 100%;
	left: 0;
	overflow: auto;
	z-index: 10;

	&.show {
		display: block;
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border: solid 2px var(--light0);
		border-left: none;
		border-radius: 0 12px 12px 0;
		background-color: var(--light25);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--light50);
	}
}

.option {
	padding: 8px 16px;
	cursor: pointer;
	transition: 0.15s;

	&.selected {
		background-color: var(--accent50);
		color: var(--dark0);
		font-weight: 600;
	}

	&:hover {
		background-color: var(--dark50);
		color: var(--light100);
	}
}
