.userCardContainer {
	flex-grow: calc(1 / 3);
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 32px;
	padding: 12px;
	background-color: var(--light0);
	border: solid 1px var(--light0);
	border-radius: 8px;
	box-shadow: 2px 4px 8px #0004;
}

.userCardPersonalInfo {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 12px;

	& .userCardImgBlock {
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 0 4px #0008;
		width: 48px;
		height: 48px;

		& .userCardImg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	& .userCardName {
		display: flex;
		gap: 8px;
	}
}

.userCardImgBlock {
	display: flex;
	align-items: center;
}
