.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: solid 1px var(--light100);
	border-radius: 16px;
	background-color: var(--light100);
	height: fit-content;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	color: var(--accent25);
	cursor: pointer;
	outline: none;
	transition: background 0.2s;
}

.button:focus-visible {
	outline: dashed 2px var(--light100);
	outline-offset: 2px;
}

.button:hover {
	border: solid 1px var(--light50);
	background-color: var(--light50);
}

.button:disabled {
	background-color: var(--light0);
	border-color: var(--light0);
	color: var(--light25);
	cursor: not-allowed;
}

.outlined {
	border: solid 1px var(--light100);
	background-color: transparent;
	color: var(--light100);
}

.outlined:focus-visible {
	outline: solid 2px var(--light100);
	outline-offset: 0;
}

.outlined:hover {
	border-color: #fff8;
	background-color: #fff8;
}

.outlined:disabled {
	background-color: transparent;
	border-color: var(--light0);
	color: var(--light25);
	cursor: not-allowed;
}
