.counterContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.counterControls {
	display: flex;
	align-items: center;
	gap: 9px;
}

.counterIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--accent50);
	color: var(--accent50);
	border-radius: 10px;
	cursor: pointer;
	height: 32px;
	width: 32px;
	padding: 0;
	outline: none;
	background-color: transparent;
	transition: 0.15s;

	&:hover {
		background-color: #ff938020;
		border-color: currentColor;
	}

	&:is(:disabled, :disabled:hover) {
		background-color: transparent;
		border-color: var(--light0);
		color: var(--light25);
		cursor: default;
	}

	&:focus-visible {
		outline: dashed 2px var(--accent50);
		outline-offset: 2px;
	}
}

.counterValue {
	color: var(--light100);
}
