.sectionBlock {
	position: relative;
	padding: 32px;
	border-radius: 32px;
	background-color: var(--dark0);
	overflow: hidden;
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
}

.headerComponent {
	height: 100%;
}

.sectionContent {
	max-height: 450px;
	padding-right: 12px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-inline: solid 3px var(--dark0);
		border-radius: 8px / 4px;
		background-color: var(--light0);
	}
}

.disableOverlay {
	position: absolute;
	background-color: #222120dd;
	inset: 0;
}
