.textareaBlock {
	width: 100%;
	position: relative;
}

.textArea {
	width: 100%;
	max-width: 100%;
	border-radius: 16px;
	border: none;
	border: 1px solid transparent;
	background-color: var(--light-low);
	font-family: inherit;
	font-size: 16px;
	height: 120px;
	outline: none;
	color: var(--light);
	resize: vertical;

	&::placeholder {
		color: var(--light-regular);
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 2px 16px 4px 4px;
		background-color: var(--light-middle);
	}

	&::-webkit-scrollbar-corner {
		visibility: hidden;
		background: none;
		border: none;
		outline: none;
	}
}

.textAreaLabel {
	display: block;
	font-weight: 600;
	margin-bottom: 4px;
}
