.drawerItemContainer {
	display: flex;
	gap: 24px;
	position: relative;
	padding: 20px;
	background-color: var(--dark0);
}

.drawerItemImageBlock {
	width: 64px;
}

.drawerItemImage {
	width: 100%;
	aspect-ratio: 1;
	margin: 2.5% 0 0 5%;
}

.drawerItemInfoBlock {
	display: flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;

	& p {
		font-size: 14px;
	}
}

.drawerItemDescription {
	color: var(--light50);
}

.drawerItemDeleteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding: 10px;
	right: 0;
	top: 0;
	cursor: pointer;
	color: var(--light25);
	transition: color 0.15s;

	&:hover {
		color: var(--accent-middle);
	}
}
