@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--accent10: #af5f1a;
	--accent25: #e57e23;
	--accent50: #eb984e;
	--accent75: #f0b27a;
	--dark0: #222120;
	--dark50: #2f2e2d;
	--dark100: #3f3e3b;
	--light0: #626567;
	--light25: #909497;
	--light50: #bdc3c7;
	--light90: #d7dbdd;
	--light100: #fff;
}

html {
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 16px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-inline: solid 3px var(--dark0);
		border-radius: 8px / 4px;
		background-color: var(--dark50);
	}
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--dark0);
	color: var(--light100);
}

a {
	color: var(--light100);
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
